<%- include('partials/head') %>
<body>
    <h1>Dogs</h1>
    <ul>
    <% for(let dog of dogs){ %>
        <li><%= dog %></li>
   <% } %> 
    </ul>
    <p><%= dogs %></p>
    
</body>
</html>