<%- include('partials/head') %>
<body>
    <!-- to run nodemon locally use npm run dev -->
     <div class="container">
    <h1>Home Page <%= 4 + 5 + 1 %> <%= 'hello world!!'.toUpperCase()%></h1>
    
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis totam, repellendus molestiae voluptas, quasi nisi atque eos nemo sint hic ullam incidunt quisquam, architecto laborum velit at inventore eius minus!</p>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ut sed voluptatibus optio, earum dignissimos provident molestiae ex tempore aliquid soluta, vero maxime repudiandae veritatis nobis nostrum maiores mollitia beatae.</p>
</div>
</body>
</html>