<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Page Not Found</title>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="notfound">
            <img src="https://cdn.digitbin.com/wp-content/uploads/What_to_do_if__Wow_Such_Empty__on_Reddit_Homepage_-740x489.png" alt="Page not found">
        </div>
    </body>
</html>